<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnluckyyyApps">

        <!-- MAIN LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Splash (bukan launcher lagi) -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false"/>

        <!-- Login -->
        <activity
            android:name=".pertemuan_5.FifthActivity"
            android:exported="false"/>

        <!-- Bina Desa -->
        <activity
            android:name=".BinaDesa"
            android:exported="false"/>

        <activity
            android:name=".BinaDesaWebView"
            android:exported="false"/>

        <!-- Auth -->
        <activity
            android:name=".AuthActivity"
            android:exported="false"/>

        <!-- Pertemuan 2 -->
        <activity
            android:name=".pertemuan_2.SecondActivity"
            android:exported="false"/>

        <!-- Pertemuan 3 -->
        <activity
            android:name=".pertemuan_3.ThirdActivity"
            android:exported="false"/>

        <activity
            android:name=".pertemuan_3.ThirdResultActivity"
            android:exported="false"/>

        <!-- Pertemuan 4 -->
        <activity
            android:name=".pertemuan_4.FourthActivity"
            android:exported="false"/>

        <!-- Pertemuan 5 WebView -->
        <activity
            android:name=".pertemuan_5.WebViewActivity"
            android:exported="false"/>

        <activity
            android:name=".pertemuan_7.SeventhActivity"
            android:exported="false"/>

        <!-- Pertemuan 7 (kalau dipakai tombol pertemuan 7) -->

    </application>

</manifest>